#minha-img {
  position: relative;
  display: flex;
}

#ola {
  position: absolute;
  bottom: 0;
  left: 10em;
}

#minha-img img {
  width: 10em;
  border-radius: 25em;
}

.vetor_img img {
  width: 30em;
}