* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Play;
}

body {
  background-color: #1c1c1e;
  color: #edf6f9;
  display: flex;
}

a {
  text-decoration: none;
  color: #edf6f9;
}

#estatica {
  border-right: 1px solid #edf6f9;
  padding: 0 2em;
  width: 50vw;
}

#laboratorio {
  overflow: auto;
  margin: 2em auto;
  width: 50vw;
}