@media screen and (max-width: 425px) {
  header div {
    display: none;
  }

  header {
    justify-content: center;
    width: 100%;
  }

  header img {
    margin-right: 4%;
    width: 100px;
  }

  .hero h1 {
    font-size: 25px;
  }

  .hero h3 {
    font-size: 20px;
  }

  .contato form {
    width: 100%;
  }

  footer div {
    flex-wrap: wrap;
    font-size: 16px;
  }

  footer div ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
  }
}
