.static-slide {
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(104, 104, 104);

  /* overflow: hidden; */
}

.slider {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slides input {
  display: none;
}

.slide {
  /* width: 20%; */
  transition: 1.5s;
}

.slide img {
  width: 50vw;
  height: 100vh;
}

/* manual slide navigation */

.navigation-manual {
  position: absolute;
  width: 50vw;
  margin-top: 90vh;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid rgb(206, 202, 0);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: rgb(206, 202, 0);
}

#radio1:checked ~ .first {
  margin-bottom: 0;
}

#radio2:checked ~ .first {
  margin-bottom: -100vh;
}

#radio3:checked ~ .first {
  margin-bottom: -200vh;
}

/* automatic navigation */

.navigation-auto {
  position: absolute;
  width: 50vw;
  margin-top: 90vh;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid rgb(206, 202, 0);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: rgb(206, 202, 0);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: rgb(206, 202, 0);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: rgb(206, 202, 0);
}
