.static-slide {
  align-items: center;
  background: rgb(104, 104, 104);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 50vw;
}

.slider {
  height: 100vh;
  overflow: hidden;
  width: 50vw;
}

.slides {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.slides input {
  display: none;
}

.slide {
  transition: 1.5s;
}

.slide img {
  height: 100vh;
  object-fit: cover;
  width: 50vw;
}

/* manual slide navigation */

.navigation-manual {
  display: flex;
  justify-content: center;
  margin-top: 90vh;
  position: absolute;
  width: 50vw;
}

.manual-btn {
  border: 2px solid rgb(206, 202, 0);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: rgb(206, 202, 0);
}

#radio1:checked ~ .first {
  margin-bottom: 0;
}

#radio2:checked ~ .first {
  margin-bottom: -100vh;
}

#radio3:checked ~ .first {
  margin-bottom: -200vh;
}

/* automatic navigation */

.navigation-auto {
  display: flex;
  justify-content: center;
  margin-top: 90vh;
  position: absolute;
  width: 50vw;
}

.navigation-auto div {
  border: 2px solid rgb(206, 202, 0);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: rgb(206, 202, 0);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: rgb(206, 202, 0);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: rgb(206, 202, 0);
}
