* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.tela-inteira {
  display: flex;
  height: 100vh;
}

.static-home {
  width: 50vw;
  height: 100vh;
  background: rgb(104, 104, 104);
}

.img-home {
  display: flex;
  margin: 10px;
  align-items: center;
}

.img-home img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-top: 10px;
  margin-right: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
  color: #191c03;
}

.menu a {
  color: #191c03;
  padding: 0 10px;
}

.menu .btn {
  background-color: rgb(204, 173, 0);
  border-radius: 5px;
  text-transform: uppercase;
}

a:hover {
  opacity: 2;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

.apresentation h1 {
  text-align: left;
  font-size: 30px;
  -webkit-text-stroke-width: 0.5px;
  margin: 10px;
  color: rgb(204, 200, 200);
}

.apresentation h3 {
  color: rgb(204, 200, 200);
  font-size: 25px;
  margin: 0 20px;
  -webkit-text-stroke-width: 0.5px;
}

.sobre {
  padding: 50px;
  align-items: center;
}

.sobre h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(204, 200, 200);
}

.sobre p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: rgb(204, 200, 200);
}

.sobre hr {
  /* width: 300px; */

  height: 2px;

  /* margin-bottom: 70px; */
  border: none;
  background-color: rgb(204, 200, 200);
}

footer {
  color: rgb(204, 200, 200);
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 50vw;
}

footer ul {
  display: flex;
  margin: 10px;
  list-style: none;
  justify-content: center;
}

footer i {
  color: rgb(204, 173, 0);
}
