* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.tela-inteira {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.static-home {
  background: rgb(104, 104, 104);
  height: 100vh;
  width: 50vw;
}

.img-home {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  text-align: center;
}

.img-home img {
  border-radius: 50%;
  margin-right: 2%;
  margin-top: 2%;
  max-height: 250px;
  max-width: 250px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

a {
  color: #191c03;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.75;
  text-decoration: none;
}

.menu a {
  color: #191c03;
  padding: 0 10px;
}

.menu .btn {
  background-color: rgb(204, 173, 0);
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
}

a:hover {
  opacity: 2;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

.apresentation h1 {
  color: rgb(204, 200, 200);
  font-size: 30px;
  margin: 10px;
  text-align: left;
  -webkit-text-stroke-width: 0.5px;
}

.apresentation h3 {
  color: rgb(204, 200, 200);
  font-size: 25px;
  margin: 0 20px;
  -webkit-text-stroke-width: 0.5px;
}

.sobre {
  align-items: center;
  margin: 30px;
}

.sobre h2 {
  color: rgb(204, 200, 200);
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.sobre p {
  color: rgb(204, 200, 200);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 40vw;
  text-align: center;
}

.sobre hr {
  background-color: rgb(204, 200, 200);
  border: none;
  height: 2px;
}

footer {
  bottom: 10px;
  color: rgb(204, 200, 200);
  position: absolute;
  text-align: center;
  width: 50vw;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
}

footer i {
  color: rgb(204, 173, 0);
}
